$color-white: #fff;

$color-primary: #548;
$color-primary-alt: #6b4fbb;
$color-secondary: #e14329;
$color-secondary-alt: #fba225;

$header-gradient-from: $color-primary;
$header-gradient-to: #4887c5;

$wordmark-text-color: $color-white;
$wordmark-secondary-text-color: #ccc;

$what-is-bg: #33373c;

$steps-bg: $color-white;
$steps-border-color: #d7d7d7;

$steps-link-color: $color-primary-alt;

// Bootstrap variables
$body-bg: #f9f9f9;
$container-large-desktop: 1200px;

$font-family-sans-serif: "Source Sans Pro", sans-serif;
